.Rproj.user
.RData
.Rhistory
Data/Callibration_Data/FlightReader_Flight_logs.csv
Data/Drone_Logs/Gal2023_Drone_Flight_Logs_srt.csv
Figures/sample_photos/
Figures/
Manuscript/
Protocols/
References/
Scripts/shiny_app_confirm_nadir.R
Scripts/shiny_app_find_nadir_range.R
Scripts/Data_cleaning_scripts/