# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Stan compiled files and diagnostics
*.rds
Stan_Models/*.rds
*.exe
*.o
*.hpp
*.d
*.so
*.dll



# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
*.swp
*~

# Temporary files
*.log
*.tmp
*.temp

# Stan diagnostic files
*.json
diagnostic_files/

# Compressed files
*.zip
*.tar.gz
*.7z
